<div class="pt-16 border-t-4 border-yellow-400 border-solid">
  <div class="max-w-screen-sm px-16 mx-auto text-center">
    <h1 class="text-6xl text-blue-700">TODOS</h1>

    <div class="mt-6">
      <app-todo-container [todos]="todos"></app-todo-container>
    </div>
    <div class="max-w-sm mx-auto mt-24" *ngIf="!todos || todos.length === 0">
      <h2 class="text-2xl text-blue-700">There are no todos added yet</h2>
      <img
        src="../assets/img/undraw-through-the-window.svg"
        alt="No todos added to the board"
      />
    </div>
  </div>
</div>
