<div class="w-full border-t border-gray-200">
  <div class="flex items-center justify-between text-gray-700">
    <div class="flex items-center w-full py-3 text-left cursor-pointer">
      <input type="checkbox" class="w-5 h-5 cursor-pointer" id="checkbox" />
      <label class="block w-full mx-6 cursor-pointer" for="checkbox"
        >Take the dog out</label
      >
    </div>
    <div class="flex items-center">
      <button class="mx-2 focus:outline-none focus:shadow-outline leading-0">
        <i class="text-blue-600 im im-edit"></i>
      </button>
      <button class="mx-2 focus:outline-none focus:shadow-outline leading-0">
        <i class="text-red-600 im im-trash-can"></i>
      </button>
    </div>
  </div>
</div>
